header {
  background: #28146D;
}

.header {
  margin: 0 auto;
  width: 90vw;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .link {
  color: white;
  font-weight: 700;
  font-size: 1.9em;
}

.list {
  display: flex;
}

.list li {
  color: white;
  list-style-type: none;
  padding: .5em;
  font-weight: 600;
  font-size: 1.2em;
}

.list a {
  text-decoration: none;
  color: white;
}

.header .menuIcon {
  display: none;
}

.menuIcon {
  width: 35px;
  height: 25px;
  display: inline-block;
  position: relative;

  background: transparent;
  border: none;
}

.menuIcon .bar {
  width: 100%;
  height: 5px;
  position: absolute;
  background: white;

  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.menuIcon .bar::before,
.menuIcon .bar::after {
  width: 100%;
  height: 5px;
  position: absolute;
  background: white;

  content: '';
  left: 0;
}

.menuIcon .bar::before {
  top: -10px;
}

.menuIcon .bar::after {
  top: 10px;
}

@media screen and (max-width: 479px) {
  .header .list {
    display: none;
  }

  .header .menuIcon {
    display: block;
  }
}