header {
  background: #28146D;
}

.header {
  margin: 0 auto;
  width: 90vw;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .link {
  color: white;
  font-weight: 700;
  font-size: 1.9em;
}

.list {
  display: flex;
}

.list li {
  color: white;
  list-style-type: none;
  padding: .5em;
  font-weight: 600;
  font-size: 1.2em;
}

.list a {
  text-decoration: none;
  color: white;
}